In [1]:
import numpy as np
import pandas as pd

In [2]:
%config Completer.use_jedi = False

In [3]:
train = pd.read_csv("/Users/sergmiller/Downloads/train.csv")

In [4]:
train

          uid  age  registered_year
0       85788   32             2020
1       19171   30             2009
2        7780   51             2012
3       14998   17             2019
4       94913   33             2010
...       ...  ...              ...
29464   12575   34             2011
29465   96062   39             2012
29466   33676   44             2012
29467   24043   38             2011
29468  105719   32             2008

[29469 rows x 3 columns]

In [19]:
result.to_csv('/Users/sergmiller/Downloads/result.csv', index=None, index_label=None)

In [23]:
np.mean(train['age'].values)

35.02914927550986

In [17]:
list(result.columns)

['uid', 'age']